/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===========================================
    Variables
============================================== */
:root {
  --color-principal: #0bab68;
  --color-secundario: #c2bf0d;
  --color-bg-principal: #faf3f7;
  --color-separacion: #cecece;
  --color-texto: #131313;
  --color-negro-90: #191919;
  --color-negro-85: #262626;
  --color-negro-70: #4c4c4c;
  --color-negro-55: #737373;
  --color-negro-40: #999;
  --color-negro-25: #bfbfbf;
  --color-negro-10: #e5e5e5;
  --color-negro-5: #f2f2f2;
  --font-principal: "Inter", sans-serif;
  --font-secundaria: "Old Standard TT", serif;
}

h1 {
  font-size: 2.2rem;
  font-family: var(--font-secundaria);
    font-weight: 400;
}
p {
  font-size: 1.15rem;
}

.contenedor {
  width: 80%;
  margin: 35px auto;
  padding: 25px;
}
button {
  padding: 15px 35px;
}

/* ===========================================
    Formato
============================================== */
.center {
  text-align: center;
}
.lh-titles {
  line-height: 1.1;
}

.lh-texto {
  line-height: 1.4;
}

.mayusculas {
  text-transform: uppercase;
}

.colorPrincipal {
  color: var(--color-principal);
}

.fondoPrincipal {
  background-color: var(--color-negro-5);
}
.fondoSecundario {
  background-color: var(--color-negro-25);
}

.borderNormal {
  border: 1px solid var(--color-negro-25)
}

.borderBottom1px {
  border-bottom: 1px solid var(--color-separacion)
}

.borderRadius10 {
  border-radius: 10px;
}

.pb20px {
  padding-bottom: 20px;
}
.mt40px {
  margin-top: 40px;
}
.mb40px {
  margin-bottom: 40px;
}

p span {
  font-weight: 800;
}

/* ===========================================
    Responsive 768
============================================== */
@media screen and (min-width:768px) {
.contenedor {
    width: 70%;
  }
}

/*cierra 768*/

/* ===========================================
    Responsive 990
============================================== */
@media screen and (min-width:990px) {
.contenedor {
    width: 50%;
  }
}

/*cierra 990*/


/* ===========================================
    Responsive 1200
============================================== */
@media screen and (min-width:1200px) {
.contenedor {
    width: 50%;
  }
}

/*cierra 1200*/